<html>
    <head>
        <title>Finstagram</title>
    </head>
    <body>
        <h1>Hello, {{ username }}!</h1>
        <h2>Bio</h2>
            <p>{{ bio.bio }}</p>
        <div>
            <ul>
                <li><a href="/bio">Edit Bio</a></li>
                <li><a href="/images">View Images</a></li>
                <li><a href="/upload">Upload an Image</a></li>
                <li><a href="/groups">My Groups</a></li>
                <li><a href="/follow">Manage Follows</a></li>
                <li><a href="/acceptTag">Tag Requests</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </body>
</html>